// GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// PALETTE COLORI
$contents: rgb(25, 25, 25);
$hero-img: rgb(49, 132, 241);
$footer: rgb(48, 48, 48);
$bg-icon-footer: rgb(121, 121, 121);
$white: #fff;